.new-post {
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.new-post__button {
  display: flex;
  justify-content: flex-end;
}

.new-post textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  resize: none;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
}
